<ul class="breadcrumb">
    <li><a href="/listeCours/:idProf">Liste Cours</a></li>
    <li><a href="/listeDevoir/:idProf ">Liste Devoir</a></li>
</ul>

<table>
    <caption>Liste Cours </caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Titre</th>
        <th>Cours</th>
        <th>etat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>matiere 1</td>
        <td>Cours 1 </td>
        <td><span class="status status-green">terminer</span></td>
      </tr>
      <tr>
        <td>2</td>
        <td>matiere 2</td>
        <td>Cours 2 </td>
        <td><span class="status status-red">en cours</span></td>
      </tr>
    </tbody>
 </table>