<h1>Tableau de bord</h1>


<ul class="breadcrumb">
    <li><a href="/listeCours/:idProf">Liste Cours</a></li>
    <li><a href="/listeDevoirs/:idProf ">Liste Devoir</a></li>
</ul>

<table>
    <caption>Liste Devoirs </caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Titre</th>
        <th>etat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/detailsDevoir/:idDevoir">1</a></td>
        <td>matiere 1</td>
        <td><span class="status status-green">terminer</span></td>
      </tr>
      <tr>
        <td><a href="/detailsDevoir/:idDevoir">2</a></td>
        <td>matiere 2</td>
        <td><span class="status status-red">en cours</span></td>
      </tr>
    </tbody>
 </table>