<h1>Liste matière</h1>
<table>
    <caption>Matière inscrit</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>photo</th>
        <th>nom</th>
        <th>etat</th>
        <th>Prof</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
            <img src="https://i.postimg.cc/j2Dp0zTv/1-HJSGo-Kk-Eh5-Q3-P2hr-GSyac-Q.png" alt="image matiere"> 
        </td>
        <td>matiere 1</td>
        <td><span class="status status-green">validé</span></td>
        <td>prof 1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
            <img src="https://i.postimg.cc/j2Dp0zTv/1-HJSGo-Kk-Eh5-Q3-P2hr-GSyac-Q.png" alt="image matiere">
        </td>
        <td>matiere 2</td>
        <td><span class="status status-red">attente</span></td>
        <td>prof 2</td>
      </tr>
    </tbody>
 </table>
