<!-- <div *ngIf="currentRoute !== '/login'">
  <p>Route courante : {{currentRoute}}</p>
  <nav>
      <a routerLink="/login">
          <button mat-raised-button (click)="login()">{{labelConnexion}}</button>
      </a>
  </nav>
  <p *ngIf="isLogged()">Vous êtes connecté en tant que {{nom}}</p>
</div> -->
<header>
  <div class="logo">
    <img src="https://i.postimg.cc/pXN9X1J7/png-clipart-stanford-university-logo-brand-organization-design-logo-university.png" >
    Université  
  </div>
</header>
<ul class="navbar">
  <li><a href="#accueil">Accueil</a></li>
  <li><a href="#apropos">À propos</a></li>
  <li><a href="#services">Services</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>