header {
    background-color: #333;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }

  .logo img {
    margin-right: 10px;
  }

  .navbar {
    padding: 0;
    width: 200px;
    background-color: #333;
    position: fixed;
    height: 100%;
    color: white;
    top: 0;
    margin-top: 110px;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar li a:hover {
    background-color: #111;
  }

  body {
    margin-top: 100px;
    margin-left: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    width: 1500px; /* Définissez la largeur souhaitée */
    height: max-content; /* Définissez la hauteur souhaitée */
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }