<h1>Details Matiere</h1>

<h2>
    description matiere
</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut facere doloribus asperiores sapiente blanditiis voluptas alias architecto cupiditate unde, neque iusto ratione esse quibusdam perspiciatis animi nulla rem ducimus! Molestias.
</p>

<div id="cours">
    <table>
        <caption>Liste Cours</caption>
        <thead>
          <tr>
            <th>id</th>
            <th>titre</th>
            <th>cours</th>
            <th>etat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td> programmation </td>
            <td> procédurale </td>
            <td><span class="status status-green">validé</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td> programmation </td>
            <td> orienté objet </td>
            <td><span class="status status-green">validé</span></td>
          </tr>
        </tbody>
     </table>    
</div>

<div id="devoirs">
    <table>
        <caption>Liste Devoirs</caption>
        <thead>
          <tr>
            <th>Note</th>
            <th>Id</th>
            <th>Titre</th>
            <th>Devoir</th>
            <th>Etat</th>
            <th>Commentaires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10/20</td>
            <td>1</td>
            <td> premier pas sur le language C </td>
            <td> projet Karting </td>
            <td><span class="status status-green">validé</span></td>
            <td></td>
          </tr>
          <tr>
            <td>0/20</td>
            <td>1</td>
            <td> premier pas sur le language C# </td>
            <td> projet Karting </td>
            <td><span class="status status-red">recalé</span></td>
            <td> tu n'as pas rendu le devoir à temps </td>
          </tr>
        </tbody>
     </table>    
</div>

